body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
  font-style: italic;
}

button{
  margin: 0em 1em 0em 1em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#headers {
  font-weight: bold;
  background-color: #DCE1DE;
}

tr {
  padding: 15px;
  background-color: white;
}

td{
  padding: 10px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}